// Colors
$primary-color: #4589ff;
$yellow: #fff159;
$background-color: #ebebeb;
$background-color-light: #c8c8c8;
$main-text: #333;
$secondary-text: #a1a1a1;
$green: #00a650;

// Breakpoints
$sm: 900px;