@import '../../common/styles/variables.module.scss';

.list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 20px 0;
  color: $secondary-text;
  font-size: 14px;
  & div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  & li {
    cursor: pointer;
    transition: color 0.2s;
    white-space: nowrap;
    font-size: 12px;
    &:hover {
      color: $main-text;
    }
  }
}

.noHoverEffect {
  &:hover {
    color: $secondary-text !important;
    cursor: initial !important;
  }
}