@import '../../common/styles/variables.module.scss';

.list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 20px 0;
  color: $secondary-text;
  font-size: 14px;
  & div {
    display: flex;
    gap: 10px;
  }
  & li {
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: $main-text;
    }
  }
}